body {
  --color-bg: #2a324a;
  --color-text: #fefade;
  --font-family-sans: "Sniglet", sans-serif;
  --color-highlight: #414c6a;
  --color-border: #20242d;
  --color-yellow-light: #f3bb68;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Sniglet", sans-serif;
  font-weight: normal;
}
@media (width <= 40rem) {
  #wheel {
    scale: 60%;
  }
  #container-main {
    width: 340px;
  }
  #canvas-arrow-container {
    height: 340px;
    width: 340px;
  }
  #wheel-arrow {
    scale: 60%;
    top: 154px;
  }
  .form-input-container {
    /* display: grid; */
    /* width: 418px; */
    /* gap: 1rem; */
    grid: auto-flow / 1fr 1fr;
  }
  .form-input-container {
    width: 320px;
  }
}
@media (width >= 40rem) {
  #wheel-arrow {
    top: 261px;
  }
  .form-input-container {
    grid: auto-flow / 1fr 1fr 1fr;
    /* display: grid; */
    /* width: 418px; */
    /* gap: 1rem; */
  }
  .form-input-container {
    width: 418px;
  }
}
form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-input-container {
  display: grid;
  /* grid: auto-flow / 1fr 1fr 1fr; */
  gap: 1rem;
}
/* #remove-role-input-container { */
/*   display: grid; */
/*   grid: auto-flow / 1fr 1fr 1fr; */
/*   gap: 1rem; */
/* } */
h1,
h2,
h3,
span h5 {
  font-weight: normal;
}
#container-main {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#result-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 70%;
}
#result-container {
  position: absolute;
  top: 40%;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg);
  min-width: 200px;
  padding: 1rem 2rem;
}
#choices-eliminated-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18px;
  text-align: center;
  max-width: 412px;
}
#choices-eliminated-placeholder {
  color: var(--color-highlight);
  font-style: italic;
}
#result-header {
  font-size: 18px;
}
#result-text {
  display: none;
  font-size: 32px;
}
#choices-eliminated-header {
  font-size: 24px;
}
.filter-header {
  margin-top: 2rem;
}
button {
  background-color: #515c7a;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--sans);
  color: var(--color-text);
}
input,
label {
  cursor: pointer;
}
.input-label-container:hover {
  background-color: var(--color-highlight);
}
label {
  width: 100%;
  font-weight: 300;
  padding: 2px 2px;
}
#spin-btn {
  background-color: #f3bb68;
  color: var(--color-border);
  padding: 0.5rem 4rem;
  font-size: 20px;
  margin-bottom: 1rem;
}
#remove-choice-btn {
  font-size: 18px;
}
#reset-btn {
  margin-bottom: 2rem;
}
#result-continue-btn {
  font-size: 18px;
}
#canvas-arrow-container {
  position: relative;
  /* width: 550px; */
  /* height: 550px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-highlight);
  font-size: 24px;
}
#wheel-arrow {
  position: absolute;
  color: var(--color-text);
  right: -14px;
}
