@media (width <= 40rem) {
  .filter-inputs-container {
    /* display: grid; */
    /* width: 418px; */
    /* gap: 1rem; */
    grid: auto-flow / 1fr 1fr;
    width: 320px;
  }
}
@media (width >= 40rem) {
  .filter-inputs-container {
    grid: auto-flow / 1fr 1fr 1fr;
    width: 418px;
    /* display: grid; */
    /* width: 418px; */
    /* gap: 1rem; */
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#filter-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filter-inputs-container {
  display: grid;
  /* grid: auto-flow / 1fr 1fr 1fr; */
  gap: 1rem;
}

.filter-set-header {
  text-align: center;
}

.filter-header {
  margin-top: 2rem;
}
